html{
  scroll-behavior: smooth;
}
body{
  justify-content: center;
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  width: 100%;
  position: fixed;
  line-height: 45px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 173, 244);
}
 ul li{
  text-align: center;
  width: 66px;
  font-size: 1em;

}
    ul li a{
      color: white;
      text-decoration: none;
      font-family: arial;
    }
    ul{
     list-style-type: none;
      display: inline-flex;
    }
    ul li a:active{
      text-decoration: underline;
    }
     #Wc{
      background-color: transparent;
      text-align: center;
      padding: 280px 0 280px 0;
      font-family: cursive;
      color: black;
      width: 90%;
      margin: auto;
      border-bottom: 3px solid black;
     }
     .projectName{
      justify-content: center;
      padding: .1px 5px 1px 5px;
      width: 230px;
      margin: auto;
      box-shadow: 0 45px 50px rgba(0,0,0,.8); 
      background-color: rgb(220,220,220);
      border: 1.5px  rgba(0,0,0,.6);
      border-radius: 10%;
     }
     .projectName .link{
      padding: 7px 0 5px 0;
      font-size: 12px;
      font-family: arial;
      color: white;
      font-weight: bold;
     }
     .projectName h2{
      text-align: center;
      font-family: arial;
      font-size: 1em;
     }
     #Project{
      background-color: transparent;
      padding: 100px 0 140px 0px;
      text-align: center;
      color: black;
       width: 90%;
      margin: auto;
      border-bottom: 3px solid black;
     }
     #Project h2{
      font-family: cursive;
     }
     #Project .login { 
  width: 220px;
padding: .1px 1em .8em 1em; 
margin: auto;
box-sizing: border-box; 
border-radius: 10px;
justify-content: center;
background-color: rgba(0,0,0,0.7);
}
 #Project .login input[type="text"]:hover,input[type="password"]:hover{
  border-bottom: 3px solid lightblue;
}
 #Project .login input[type="text"],input[type="password"]{ 
width: 100%; 
font-size: .7em; 
color: white; 
border: none; 
border-bottom: 1px solid #fff; 
outline: none; 
background: transparent; 
margin: 2% 0 2% 0;
}
 #Project .login h3 { 
color: darkseagreen; 
text-align: center; 
}
 #Project .login label{
  color: skyblue;
  font-size: 13px;
}
 #Project .login span{
  color: white;
  font-size: 15px;
}
#Project .login input[type="checkbox"]{
  width: 11px;
}
 #Project .login input[type="submit"]:hover{
  color: white;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: .1s;
}
#Project .login input[type="submit"]{
    background-color: rgb(0,0,0,0.4); 
    font-weight: bold;
    width: 100%;
    border: none; 
    outline: none; 
    color: white;  
    padding: 3px 0 3px 0; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 12px;  
}
#Project .login button[type="button"]{
  color: white;
  margin-left: 90%;
  border: none;
  background: none;
  font-size: 20px;
}
#Project .login form{
text-align: left;
}
/*.visitor{
      background-color: transparent;
      padding: 240px 0 240px 0;
      margin: auto;
      text-align: center;
      width: 90%;
      margin: auto;
      border-bottom: 3px solid black;
     }*/
.about{
  padding: 150px 0 130px 0;
  margin: auto;
  width: 90%;
  border-bottom: 3px solid black;
}
.about .info{
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  width: 260px;
  padding: 30px 0 0 0;
  box-shadow: 0 45px 50px rgba(0,0,0,.8);
  margin: auto;
  border-radius: 10%;
  text-align: center;
}
.about .info .text{
  opacity: .8;
  width: 100%;
  background-color: rgba(0, 173, 244);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
.about .info p{
  color: black;
  padding-top: 30px;
  width: 90%;
  margin: auto;
  height: 100px;
}
.about .info img{
  border-radius: 50%;
}
.about .info h1{
  font-family: cursive;
}
#Contact{
  padding: 200px 0 200px 0;
  width: 90%;
  margin: auto;
}
.send{
  background-color: rgb(220,220,220);
  box-shadow: 0 45px 50px rgba(0,0,0,.8); 
  width: 260px;
  margin: auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10%;
}
#foot{
  background-color: rgba(0, 173, 244);
  text-align: center;
  height: 40px;
  width: 100%;
  color: white;
  padding: 5px 0 5px 0;
  bottom: 0;
  position: fixed;
}
#foot .icon{
  padding: 5px 0 0 0;
  width: 200px;
  margin: auto;
}
#foot .icon a{
  text-decoration: none;
  font-family: arial;
  color: white;
  font-size: 11px;
}
#foot h5{
  font-size: 11px;
  padding: 5px 0 5px 0;
  font-family: arial;
}
